{% extends "website/base.html" %}
{% load static %}
{% block title %}Account view{% endblock %}

{% block additional_media2 %}
        <link rel="stylesheet" type="text/css" href="{% static 'website/base2.css' %}" />
{% endblock %}

{% block additional_media3 %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/account_view.css' %}" />
{% endblock %}

{% block content %}
<div class="block_messages">
<div class="this-user-info">
    <div class="personal-data" id="contact-avatar">
        <div class="this-user-info-avatar" id="this-avatar" ></div>
        <div class="this-user-info-name" id="this-name"><span><strong>{{user.last_name}} {{user.first_name}} {{user.middle_name}}</strong></span></div>
        <div class="button-contact-list">
            <button  class="button" type="submit" id="b-start" title="Начать диалог">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </button>
        </div>
    </div>
            <div class="personal-data">
                <h3>Email</h3>
                    <p>{{user.email}}</p>

                <h3>Кампус</h3>
                    <p>{{user.campus}}</p>

                <h3>Должность</h3>
                    <p>{{user.staff}}</p>

                {% if user.department%}
                    <h3>Факультет</h3>
                        <p>{{user.department}}</p>
                {% endif %}

                {% if user.group%}
                    <h3>Группа</h3>
                        <p>{{user.group}}</p>
                {% endif %}
<!--            </div>-->
            </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    var profile = document.getElementsByClassName("this-user-info");
    var height = profile[0].offsetHeight;
    profile[0].style.top = "calc(50vh - " + height + "px/2 - 20px)";
</script>
{% endblock %}
