{% extends "account/base.html" %}

{% load static %}
{% block title %}Base 2{% endblock %}
{% block additional_media2 %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/base2.css' %}" />
{% endblock %}

{% block content %}
<div class="block_dialogs" id="header">
    <div class="block_info">
        <h2>{% block title_main %}{% endblock %}</h2>
        <div class="create-new-chat">
            {% block button_create_new_chat %}{% endblock %}
               
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Поиск пользователей...">
                <button class="button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
           
        </div>
        
        <div class="block_persons">
            {% block person_contact_list %}{% endblock %}
        </div>
    </div>
     
    <div class="block_messages">
        <div class="block_info_choose">
            <h3>{% block block_info_choose %}{% endblock %}</h3>        
        </div>
        {% block right %}{% endblock %}
        
    </div>
    <div class="popup" id="popup">
        <a href="#header" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                
                <a href="#header" class="popup_close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
                
                <div class="popup_title">Новые контакты</div>
                <div class="popup_persons">
                    <div class="popup_person" id="person_1">
                        <div class="user-info-avatar" id="avatar"></div>
                        <div class="user-info-name" id="name"><span>Зверев Кирилл Юрьевич</span></div>
                        <button class="button_contact_add">Добавить в контакты</button>
                        <button class="button_contact_add" id="reject">Отклонить заявку</button>
                    </div>
                    <div class="popup_person" id="person_1">
                        <div class="user-info-avatar" id="avatar"></div>
                        <div class="user-info-name" id="name"><span>Зверев Кирилл Юрьевич</span></div>
                        <button class="button_contact_add">Добавить в контакты</button>
                        <button class="button_contact_add" id="reject">Отклонить заявку</button>
                    </div>
                    <div class="popup_person" id="person_1">
                        <div class="user-info-avatar" id="avatar"></div>
                        <div class="user-info-name" id="name"><span>Зверев Кирилл Юрьевич</span></div>
                        <button class="button_contact_add">Добавить в контакты</button>
                        <button class="button_contact_add" id="reject">Отклонить заявку</button>
                    </div>
                    <div class="popup_person" id="person_1">
                        <div class="user-info-avatar" id="avatar"></div>
                        <div class="user-info-name" id="name"><span>Зверев Кирилл Юрьевич</span></div>
                        <button class="button_contact_add">Добавить в контакты</button>
                        <button class="button_contact_add" id="reject">Отклонить заявку</button>
                    </div>        
                </div>
            </div>
        </div>
    </div>

{% endblock %}

