{% extends "website/base.html" %}
{% load static %}
{% block title %}Other account view{% endblock %}

{% block additional_media2 %}
        <link rel="stylesheet" type="text/css" href="{% static 'website/base2.css' %}" />
{% endblock %}

{% block additional_media3 %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/other_account_view.css' %}" />
{% endblock %}

{% block content %}
<div class="block_messages">
    <div class="this-user-info">
        <div class="personal-data" id="contact-avatar">
            <div class="this-user-info-avatar" id="this-avatar" ></div>
            <div class="this-user-info-name" id="this-name"><span><strong>{{other_user.last_name}} {{other_user.first_name}} {{other_user.middle_name}}</strong></span></div>
            <div class="button-contact-list">

                {% if relationship == 0 %}
                    <!-- кнопка "удалить из контактов" -->
                    <button  class="button button_red" id="button_delete_contact" value="{{ other_user.id }}" title="Удалить из контактов" onclick="deleteContact(this.value)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>

                    <!-- кнопка "начать диалог (переход в мессенджер)" -->
                    <button  class="button button_blue" id="button_start_chatting" value="{{ other_user.id }}" title="Начать диалог">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button>
                {% endif %}

                {% if relationship == 1 %}
                    <!-- кнопка "добавить в контакты" -->
                    <button  class="button button_blue" id="button_create_contact"  value="{{ other_user.id }}" title="Добавить в контакты" onclick="createContact(this.value)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                {% endif %}

                {% if relationship == 2 %}
                    <!-- кнопка "отклонить запрос на дружбу" -->
                    <button class="button button_red" id="button_decline_request" value="{{ other_user.id }}" title="Принять запрос в контакты" onclick="declineRequest(this.value)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>

                    <!-- кнопка "принять запрос на дружбу" -->
                    <button class="button button_green" id="button_accept_request" value="{{ other_user.id }}" title="Принять запрос в контакты" onclick="acceptRequest(this.value)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                    </button>

                {% endif %}

                {% if relationship == 3 %}
                    <!-- кнопка "отменить заявку на дружбу" -->
                    <button class="button button_red" id="button_cancel_request" value="{{ other_user.id }}" title="Отменить заявку" onclick="cancelRequest(this.value)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                {% endif %}
            </div>
        </div>


        <div class="personal-data">
            <h3 id="title-data-email">Email</h3>
                <p id="personal-data-email">{{other_user.email}}</p>

            <h3 id="title-data-campus">Кампус</h3>
                <p id="personal-data-campus">{{other_user.campus}}</p>

            <h3 id="title-data-staff">Должность</h3>
                <p id="personal-data-staff">{{other_user.staff}}</p>

            {% if other_user.department%}
                <h3 id="title-data-department">Факультет</h3>
                    <p id="personal-data-department">{{other_user.department}}</p>
            {% endif %}

            {% if other_user.group%}
                <h3 id="title-data-group">Группа</h3>
                    <p id="personal-data-group">{{other_user.group}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    if (document.getElementsByClassName("button").length == 1) {
        document.getElementsByClassName("button-contact-list")[0].style.marginLeft = "125px";
    }


    var profile = document.getElementsByClassName("this-user-info");
    var height = profile[0].offsetHeight;
    profile[0].style.top = "calc(50vh - " + height + "px/2 - 20px)";

    var elementThisAvatar = document.getElementById("this-avatar");

    var arrName = "{{other_user.last_name}} {{other_user.first_name}}".split(" ", 2);
    var letterName = arrName[0].substr(0, 1) + arrName[1].substr(0, 1);

    elementThisAvatar.innerHTML = letterName;
    elementThisAvatar.style.backgroundColor = "#FF00AE";


    function deleteContact(person_id) {
        console.log("deleteContact is working! person_id= " + person_id);

        $.ajax({
            method: "POST",
            url: "/contact/delete_contact_with_user/" + person_id,
            dataType: "json",
            async: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
                console.log("User declines the request from person_"+ person_id + ": " + data.success);
            }
        });

        // document.getElementById("button_create_contact").style.display = "block";
        // document.getElementById("button_create_contact").value = person_id;

        window.location.reload();

    };

    function createContact(person_id) {
        console.log("createContact is working! person_id= " + person_id);

        $.ajax({
            method: "POST",
            url: "/contact/create_contact_with_user/" + person_id,
            dataType: "json",
            async: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
                console.log("Server create a contact with person_"+ person_id + ": " + data.success);
            }
        });

        // document.getElementById("button_cancel_request").style.display = "block";
        // document.getElementById("button_cancel_request").value = person_id;

        window.location.reload();
    };

    function declineRequest(person_id) {
        console.log("declineRequest is working! person_id= " + person_id);

        $.ajax({
            method: "POST",
            url: "/contact/decline_request_from_user/" + person_id,
            dataType: "json",
            async: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
                console.log("User declines the request from person_"+ person_id + ": " + data.success);
            }
        });

        // document.getElementById("button_create_contact").style.display = "block";
        // document.getElementById("button_create_contact").value = person_id;

        window.location.reload();
    };

    function acceptRequest(person_id) {
        console.log("acceptRequest is working! person_id= " + person_id);

        $.ajax({
            method: "POST",
            url: "/contact/accept_request_from_user/" + person_id,
            dataType: "json",
            async: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
                console.log("User accepts the request from person_"+ person_id + ": " + data.success);
            }
        });

        // document.getElementById("button_delete_contact").style.display = "block";
        // document.getElementById("button_delete_contact").value = person_id;

        // document.getElementById("button_start_chatting").style.display = "block";

        window.location.reload();
    };

    function cancelRequest(person_id) {
        console.log("cancelRequest is working! person_id= " + person_id);

        $.ajax({
            method: "POST",
            url: "/contact/cancel_request_to_user/" + person_id,
            dataType: "json",
            async: false,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
                console.log("User cancels the request to person_"+ person_id + ": " + data.success);
            }
        });

        // document.getElementById("button_create_contact").style.display = "block";
        // document.getElementById("button_create_contact").value = person_id;

        window.location.reload();
    };
</script>

{% endblock %}
