<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
</head>
<body>

    {% for sender in senders %}
        <p>
            {{ sender.last_name }} {{ sender.first_name }}
            <button class="accept" value="{{ sender.id }}" onclick="acceptContactRequest($(this))">Принять</button>
            <button class="decline" value="{{ sender.id }}" onclick="declineContactRequest($(this))">Отклонить</button>
        </p>
    {% endfor %}


    <script>
        function acceptContactRequest(button) {
            console.log('accept' + ' ' + button.val());

            var decision = 'accept';
            var sender_id = button.val();

            $.ajax({
                method: "POST",
                url: "{% url 'my_requests' %}",
                dataType: "json",
                async: false,
                data: { decision: decision,  sender_id: sender_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(data) {
                    console.log(data.answer);
                }
            });

        }

        function declineContactRequest(button){
            console.log('decline' + ' ' + button.val());
        }
    </script>
<!--        <p>-->
<!--            Андрей-->
<!--            <button class="accept" value="1" onclick="acceptContactRequest($(this))">Принять</button>-->
<!--            <button class="decline" value="1" onclick="declineContactRequest($(this))">Отклонить</button>-->
<!--        </p>-->

<!--        <p>-->
<!--            Диана-->
<!--            <button class="accept" value="2" onclick="acceptContactRequest($(this))">Принять</button>-->
<!--            <button class="decline" value="2" onclick="declineContactRequest($(this))">Отклонить</button>-->
<!--        </p>-->
</body>
</html>