body {
    background: #F8F9FA;
    margin: 0;
    overflow: hidden;
    font-family: Georgia, serif;
    
    font-family: Arial, sans-serif;
    
}

.block_select {
    float: left;
    background: #393484;
    background: #012E67;
    height: 100vh;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.block_dialogs {
    float: left;
    margin: 0;
    background: #F3F7FB;
    max-height: 100vh;
    width: 460px;
}
.block_info {
    float: left;
    margin: 0;
/*
    background: #9CACBF;
    background: #6E93D6;
    background: #2B6684;
*/
    background: #408FB4;
    height: 150px;
     width: 460px;
}
.block_info h2 {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
/*    color: #344557;*/
    color: #032E42;
}
.button {
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #032E42;
    color: #fff;
    padding: 8px 10px;
    font-size: 18px;
    min-width: 10px;
    width: 50px;
    cursor: pointer;
    outline: none;
}
.create-new-chat {
    margin-right: 20px;
}
.block_persons {
    float: left;
    height: calc(100vh - 150px);
    width: 460px;
    background: #CCDCED;
    background: #9CACBF;
    background: #BDDFEF;
    overflow-y: scroll;

/*    background: #C1DEE7;*/
/*    background: #B9D5FD;*/
}
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
/*    height: 50px;*/
/*    height: 8px;  высота для горизонтального скролла */
    background-color: #BDDFEF;
    overflow-y: auto;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #408FB4;
    border-radius: 10px;
/*    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;*/
/*
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
*/
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #012E67;
}
.block_messages {
    float: right;
    background: #F3F7FB;
    height: 100vh;
    width: calc(100vw - 540px);
    display: fixed;
    justify-content: center;
    align-items: center;
   
/*
    background: url(main3.png)  0 0/100% auto fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 280px;
*/
    
}
a {
    text-decoration: none;
    background-color: transparent;
}
.block_person {
    margin: 0 auto;
    margin-top: 20px;
    background: #9CACBF;
    background: #BDDFEF;
    background: #B9D5FD;
    background: #BDDFEF;
    height: 100px;
    width: 420px;
    border: 2px solid #2B6684;
    border-radius: 3px;
    display:block;
    cursor: pointer;
}

.block_person:hover{
    border-color:  #012E67;
/*    box-shadow: inset 0 0 10px #0332DC;*/
}
.block_person.click {
    background: red;
    border-color:  #012E67;
}   
ul{
    margin: 0 auto;
}
li {
    align-items: center;
    list-style-type: none;
    margin-left: -35px;
    margin-bottom: 20px;
}
.item-choice a{
    color: #A9A4FE;
}
.item-choice a:hover {
    color: #EBE6FF;
}

#friends{
    color: #F3F7FB;
}
#friends:hover {
    color: #F3F7FB;
}









form {
    float: right;
    width: 160px;
     margin-right: 7px;
}
.d1 {
    margin-top: 77px;
    float: right;
    background: #344557;
    background: #012E67;
    margin-right: -70px;
    border-radius: 5px;
    width: 160px;
}
.d1 input {
   
  width: 140px;
  height: 34px;
  padding-left: 10px;
  border: 2px solid #032E42;
    
  border-radius: 5px;
  outline: none;
  background: #ffffff;
   background: #9CACBF;
    background:  #BDDFEF;
/*    background: #B9D5FD;*/
  color: #888889;
    color: #012E67;
    
    font-size: 14px;
}
.d1 input::-webkit-input-placeholder {color:#2B6684; opacity:1;}/* webkit */
.d1 input::-moz-placeholder          {color:#2B6684; opacity:1;}/* Firefox 19+ */
.d1 input:-moz-placeholder           {color:#2B6684; opacity:1;}/* Firefox 18- */
.d1 input:-ms-input-placeholder      {color:#2B6684; opacity:1;}/* IE */
.d1 button {
    margin-left: 0px;
   top: 57px;
    position: absolute;
    padding-left: 10px;
  width: 50px;
  height: 40px;
  border: none;
  background:#032E42;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 12px;
  color: #ffffff;
}


/*
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0332DC;
}
*/








.user-info-avatar {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    margin-right: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.user-info-name {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #2B6684;
    color: #032E42;
    font-size: 17px;
    font-weight: bold;
}
.user-status {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    color: #2B6684;
    font-size: 15px;
    
}

/*.user-status p {
    padding-right: 15px;
    -webkit-line-clamp: 1;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
*/





.chat-time {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: #2B6684;
}
.this-user-info-avatar {
    margin: 0 auto;
    margin-top: -20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
    color: white;
    text-align: center;
}
.this-user {
/*    margin: 0 auto;*/
    width: 100vw;
    display: none;
}
.this-user h2{
    margin: 0 auto;
    margin-top: 20px;
     color: #032E42;
    text-align: center;
}
/*
.this-user h3 {
    margin: 0 auto;
    margin-top: 20px;
    color: #032E42;
    text-align: center;
}
*/
button[id="b3"] {
    margin-right: 70px;
/*    appearance: none;*/
    border-radius: 5px;
/*    background: #0332DC;*/
    padding: 12px 14px;
    font-size: 18px;
/*    min-width: 100px;*/
    width: 260px;
    font-family: inherit;
/*
    margin-top: 20px;
    margin-bottom: 10px;
*/
    cursor: pointer;
    border: 4px solid transparent;
    border-color: #393484;
    border-color: #012E67;
/*    margin-top: 30px;*/
    color: #393484;
    color: #012E67;
/*    text-transform: none;*/
    background-color: transparent;
/*    margin: 0 auto;*/
}

button[id="b3"]:hover {
/*
    border-color: #393484;
    border-color: #002D6E;
*/
    color: #fff;
    background: #393484;
    background: #012E67;
}


.this-user-info-name {
    margin-top: 20px;
    text-align: center;
    color: #032E42;
    
    
}

















































































/*
.registration {
    z-index: 999999;
    position: absolute;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}

.reg {
     
    top: 10px;
    left: 100px;
    float:right;
    background: #ffffff; 
    width: 540px;
    position:relative
}
.editform {
  width: 540px;
    margin: 0 auto 20px auto; text-align: center;
  background-color: #F3F7FB;
  font-family: sans-serif;
  padding: 40px;
}
#edit-profile{
    
    width: 540px;
*/
/*    height: 530px;*/
/*    margin: 40px auto;*/
/*    background: #F3F7FB;*/
/*    border: 1px solid #fff;*/
/*
    z-index: 150; display: none;
    position: fixed; left: 0;right: 0;top:0;bottom: 0;
    justify-content: center;
    align-items: center;
}

.title {
    top:20px;
   width: 100%;
   float: left;
   line-height: 46px;
   font-size: 22px;
   font-weight: 600;
   letter-spacing: 2px;
   color: #012E67;
    text-align: center;  
   position: relative;
*/
    /*margin-bottom: 40px;*/
/*
}

.title:before {
   content: "";
   width: 5px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: #012E67;
}
*/
/*
window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    border: 1px solid #cecece;
    padding: 50px;
    transform: translate(-50%,-50%);
    background-color: #fafafa;

}           
*/

/*
.main {
    position: relative;
}
*/
/*
#edform {
    background-color: #F3F7FB;
    font-family: sans-serif;
}
*/


#b-start {
    margin-top: 10px;
    background: #012E67;
}
#b-start:hover {
    background: #408FB4;
}
#b-delete {
    margin-top: 10px;
    background: #C32439;
}
#b-delete:hover {
    background: #E35760;
}
.button-contact-list {
    margin-top: 10px;
    margin-left: -235px;
    width: 100%;
/*    margin-top:  10px;*/
/*    width: 30px; */
}

.tabcontent {
/*    margin-right: -30px;*/
/*    margin: 0 auto;*/
/*
    margin-top: -30px;
    margin-left: 20px;
*/
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
    color: white;
    
/*    padding: 100px 20px;*/
    height: 500px;
    width: 600px;
/*    margin-left: -100px;*/
/*    border: 2px solid #2B6684;*/
}
.personal-data {
/*    margin-left: calc((100vw - 540px)/2 - 250px);*/
/*    margin-left: calc(50vw - 30px);*/
/*    margin-left: -120px;*/
/*    position: ;*/
/*    float: right;*/
/*    margin: 0 auto;*/
    margin-left: 0;
    padding: 40px;
/*
    left: calc(100wh - 540px);
    bottom: 50px;
*/
    width: 500px;
    width: 40vw;
    width: 600px;
    height: 400px;
/*    height: 50vh;*/
    margin-top: 220px;
/*    margin-bottom: 20px;*/
    border: 2px solid #9CACBF;
    background: url(main3.png)  0 0/100% auto fixed;
    background-position: top 0 left 300px;

}

.personal-data h3 {
    
    margin-left: 10px;
    color: #012E67;
}
.personal-data p {
    color: #012E67;
    margin-left: 80px;
}

#contact-avatar {
    position: fixed;
    float: right;
/*    margin-left: calc(30vw - 270px);*/
    margin-left: 0;
    margin-top: 0;
/*    margin-right: 0;*/
/*    margin-right:  calc(27vw - 270px);*/
/*    margin-left: calc(30vw + 270px);*/
/*    margin-left: calc((100vw - 540px)/2 - 50px);*/
/*    margin-right: calc((100vw - 540px)/2 - 640px);*/
/*    margin-left: calc((100vw2 - 540px)/2 + 500px);*/
/*    margin-right: 20px;*/
    background: url(main3.png)  0 0/100% auto fixed;
    width: 600px;
    height: 120px;
}

.this-user-info {
/*    display: fixed;*/
    position: fixed;
    left: calc(30vw + 270px);
    left: calc(48vw - 30px);
    width: 600px;
/*    min-height: 100vh;*/
    display: none;
    top: calc(50vh - 350px);
    height: 620px;
}
.block_info_choose {
    margin: 0 auto;
    margin-top: 49vh;
    width: 400px;
}
 

.block_info_choose h3 {
    margin: 0 auto;
    margin-top: 20px;
    color: #032E42;
    text-align: center;
}