*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grey {
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.3);
    position: fixed;
}
body {
  
    font-family: sans-serif;
    background: #E6E8EB;
    background: url(ZOOM_HSE_04.jpg) 0 0/100% 100% fixed;
    background-repeat: no-repeat;
}

.registration {
     display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}

.reg {
    float:right;
    background: #ffffff; 
    width: 540px;
    position:relative
}
#regForm {
  background-color: #ffffff;
  font-family: Raleway;
  padding: 40px;

   
}

h1 {
  text-align: center;  
}

/*input {
  padding: 10px;
  width: 70%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}


input.invalid {
  background-color: red;
}*/

/* Hide all steps by default: */
.tab {
   display: none;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #2C3E50;
    color: #fff;
    padding: 12px 14px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0332DC;
}




.title {
   width: 100%;
   float: left;
   line-height: 46px;
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 2px;
   color: #0332DC;
    text-align: center;  
   position: relative;
    /*margin-bottom: 40px;*/
}

.title:before {
   content: "";
   width: 5px;
   height: 100%;
   position: absolute;
   top: 0;
   left: -40px;
   background: #0332DC;
}


.middle {  
  width: 400px;
  margin: 0 auto;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #2C3E50;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

#fancy-inputs {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
    margin: 0 0 50px 0;
}
#fancy-inputs label.input {
  float: left;
  width: 400px;
  height: 42px;
  margin: 50px 0 0 0;
  position: relative;
  clear: both;
}
#fancy-inputs label.input span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  cursor: text;
}
#fancy-inputs label.input span span {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 22px;
  color: #0332DC;
  text-indent: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-inputs label.input span:before {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2C3E50;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-inputs label.input span:after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2C3E50;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-inputs input {
  float: left;
  width: 100%;
  
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-bottom: 3px solid #0332DC;
  background-color: transparent;
  color: #0332DC;
  font-size: 22px;
  position: relative;
  z-index: 99;
}
#fancy-inputs input:focus {
  outline: 0;
}
#fancy-inputs input.white {
  background-color: white;
}
#fancy-inputs input:focus + span span {
  cursor: initial;
  position: absolute;
  top: -35px;
  color: #2C3E50;
}
#fancy-inputs input:focus + span:before {
  width: 50%;
}
#fancy-inputs input:focus + span:after {
  width: 50%;
}
#fancy-inputs span.fixed span {
  top: -35px;
}
#fancy-radio {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    margin-top: 20px;
    margin-left: 20px;
}
/*
#fancy-radio {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    margin-top: 20px;
    margin-left: 20px;
}
#fancy-radio label.radio {
  float: left;
  width: auto;
  line-height: 30px;
  margin: 0 0 10px 0;
  color: #0332DC;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  clear: both;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-radio label.radio:before {
  content: '';
  float: left;
  width: 29px;
  height: 29px;
  margin: 0 5px 0 0;
  background-color: #bbbbbb;
  border-radius: 100%;
  font-size: 22px;
  text-indent: 40px;
}
#fancy-radio label.radio:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #2C3E50;
  border-radius: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 26px;
  width: 26px;
  background: #fff;
  border: 1px solid #ccc;
}
.control__indicator {
  border-radius: 3px;
}
.control__indicator {
  border-radius: 100%;
}

.control input:checked ~ .control__indicator {
  background: #fff;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control__indicator:after {
  left: 5px;
  top: 0px;
  width: 15px;
  height: 22px;
  border: solid #34bb92;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control__indicator:after {
  left: 5px;
  top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #2C3E50;
}
#fancy-radio label.radio.control__indicator:after {
  left: 5px;
  top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #2C3E50;
}
#fancy-radio control__indicator:after {
  width: 15.5px;
  height: 15.5px;
  top: 7px;
  left: 7px;
  opacity: 1;
    content: '';
  width: 5px;
  height: 5px;
  background-color: #2C3E50;
  border-radius: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
#fancy-radio label.radio:hover {
  text-indent: 5px;
}





*/




.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
   
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 24px;
  width: 24px;
  background: #fff;
  border: 2px solid #ccc;
}
 
.control--radio {
      
    color: #0332DC;
  font-size: 22px;
     transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.control-radio:after {
     transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.control--radio:hover {
  text-indent: 5px;
}

.control--radio .control__indicator {
  border-radius: 100%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border-color: #2C3E50;
}
.control input:checked ~ .control__indicator {
  background: #bbbbbb;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 5px;
  top: 0px;
  width: 15px;
  height: 22px;
  border: solid #2C3E50;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--radio .control__indicator:after {
  left: 3px;
  top: 3px;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: #2C3E50;
   
}


[include*="form-input-select()"] {
  display: block;
  padding: 0;
  position: relative;
  color: #0332DC;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;
}
[include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
[include*="form-input-select()"] select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 20px;
  outline: none;
  /* Focus style */
}
[include*="form-input-select()"] select:focus {
  background-color: transparent;
  outline: none;
}
[include*="form-input-select()"] option {
  font-weight: normal;
}
[include*="form-input-select()"] x:-o-prefocus, [include*="form-input-select()"]::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [include*="form-input-select()"] select::-ms-expand {
    display: none;
  }
  [include*="form-input-select()"] select:focus::-ms-value {
    background: transparent;
    color: #000;
  }
}
@-moz-document url-prefix() {
  [include*="form-input-select()"] {
    overflow: hidden;
  }
  [include*="form-input-select()"] select {
    width: 120%;
    width: calc(100% + 3em);
    /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
  }
  @supports (-moz-appearance: none) {
    [include*="form-input-select()"] select {
      width: 100%;
    }
  }
  [include*="form-input-select()"] select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
@supports (-moz-appearance: none) {
  [include*="form-input-select()"] {
    width: 100%;
  }
}
[include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  right: 16px;
}

[include*="form-input-select()"]::after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #D6D6D6;
    bottom: 20px;
}
@-moz-document url-prefix() {
  [include*="form-input-select()"] {
    border-right: 3px solid #E6E6E6;
  }
  [include*="form-input-select()"]:hover {
    border-right: 3px solid #0332DC;
  }
}
[include*="form-input-select()"]:hover select {
  box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
  border-color: #0332DC;
}
[include*="form-input-select()"]:hover select:focus {
  outline-color: transparent;
}
[include*="form-input-select()"]:hover::before {
  border-bottom-color: #0332DC;
}
[include*="form-input-select()"]:hover::after {
  border-top-color: #0332DC;
}
[include*="form-input-select()"]:click::after {
  border-top-color: #0332DC;
     transform: rotate(-180deg);
}
[include*="form-input-select()"]:checked::after {
  border-top-color: #0332DC;
    transform: rotate(-90deg);
}
[include*="form-input-select()"] select {
  border: 3px solid #E6E6E6;
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 11px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}
[include*="form-input-select()"] select:focus {
  box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
  outline: 3px solid #0332DC;
  outline-offset: -3px;
}
[include*="form-input-select()"] select[disabled], [include*="form-input-select()"] select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
[include*="form-input-select()"] select:not(:focus):invalid {
  color: #C7C7C7;
}


.form-select {
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px
   
}
