{% extends "website/base3.html" %}
{% load static %}
{% block title %}Search people{% endblock %}

{% block additional_media3 %}
        <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}" />
{% endblock %}

{% block title_main %}Поиск пользователей{% endblock %}

{% block block_info_choose %}Выберите пользователя, чтобы увидеть персональные данные{% endblock %}



{% block button_create_new_chat %}
            <button class="button" onclick="location.href ='#popup'" title="Параметры для поиска">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                </svg>
            </button>
{% endblock %}

{% block popup %}
	<div class="popup" id="popup">
	   <a href="" class="popup_area"></a>
	   <div class="popup_body">
		  <div class="popup_content">
			<a href="" class="popup_close">
    			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
    				<path  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    			</svg>
			</a>
    		
            <div class="popup_title">Параметры для поиска</div>

    		<div class="popup_persons">
    				<div class="middle">
    					<h2>Кампус</h2>
    					<div class="form-select">               
    						<div class="form-input-select">
    							<select id="select_campus">
    								<option value="-1" >-------</option>
                                    {% for campus in campuses %}
                                        <option value="{{ campus.id_campus }}" >{{ campus.city }}</option>
                                    {% endfor %}
    							</select>
    						</div>
    					</div>

    					<h2>Факультет</h2>
    					<div class="form-select">               
    						<div class="form-input-select">
    							<select id="select_department">
    								<option value="-1" >-------</option>
                                    {% for department in departments %}
                                        <option value="{{ department.id }}">{{ department }}</option>
                                    {% endfor %}
    							</select>
    						</div>
    					</div>

    					<h2>Должность</h2>
    					<div class="form-select">               
    						<div class="form-input-select">
    							<select id="select_staff">
    								<option value="-1" >-------</option>
                                    {% for staff in staffs %}
                                        <option value="{{ staff.id }}">{{ staff.name }}</option>
                                    {% endfor %}
    							</select>
    						</div>
    					</div>
    					<button class="button_filter" onclick="buttonFilterSearch()">Найти</button>
    					
    				</div>
    			</div>
    		</div>
	</div>
</div>
						
{% endblock %}

{% block person_contact_list %}
    {% for person in users %}
        <button class="block_person" id="person_{{ person.id }}" onclick="ProfileInfo(this)">
            <div class="user-info-avatar" id="avatar" ></div>
            <div class="user-info-name" id="name"><span>{{person.last_name}} {{person.first_name}} {{person.middle_name}}</span></div>

            <div class="user-status">
                <p><strong>Должность: </strong>{{person.staff}}</p>
            </div>
        </button>
    {% endfor %}
{% endblock %}

{% block button_contact_list %}
    <!-- в каждой кнопке в атрибуте value будет храниться id пользователя, о котором выводится информация -->
    <!-- кнопка "удалить из контактов" -->
    <button  class="button button_red" id="button_delete_contact" value="" title="Удалить из контактов" onclick="deleteContact(this.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
    </button>

    <!-- кнопка "начать диалог (переход в мессенджер)" -->
    <button  class="button button_blue" id="button_start_chatting" value="" title="Начать диалог">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
        </svg>
    </button>

    <!-- кнопка "добавить в контакты" -->
    <button  class="button button_blue" id="button_create_contact"  value="" title="Добавить в контакты" onclick="createContact(this.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
    </button>

    <!-- кнопка "отклонить запрос на дружбу" -->
    <button class="button button_red" id="button_decline_request" value="" title="Принять запрос в контакты" onclick="declineRequest(this.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>

    <!-- кнопка "принять запрос на дружбу" -->
    <button class="button button_green" id="button_accept_request" value="" title="Принять запрос в контакты" onclick="acceptRequest(this.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
    </button>

    <!-- кнопка "отменить заявку на дружбу" -->
    <button class="button button_red" id="button_cancel_request" value="" title="Отменить заявку" onclick="cancelRequest(this.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>

{% endblock %}

{% block personal_data %}
    <h3 id="title-data-email">Email</h3>
        <p id="personal-data-email"></p>
    <h3 id="title-data-campus">Кампус</h3>
        <p id="personal-data-campus"></p>

    <h3 id="title-data-staff">Должность</h3>
        <p id="personal-data-staff"></p>

    <h3 id="title-data-department">Факультет</h3>
        <p id="personal-data-department"></p>

    <h3 id="title-data-group">Группа</h3>
        <p id="personal-data-group"></p>
{% endblock %}


{% block script %}
<script>
function buttonFilterSearch() {
    var search_campus_id = document.getElementById("select_campus").value;
    var search_department_id = document.getElementById("select_department").value;
    var search_staff_id = document.getElementById("select_staff").value;

    var search_query = "";

    if (search_campus_id != -1) {

        search_query = search_query + "campus=" + search_campus_id;
        console.log(search_query);
    };

    if (search_department_id != -1) {
        
        if (search_query != "") {
            search_query = search_query + "&";
        };

        search_query = search_query + "department=" + search_department_id;
        console.log(search_query);
    };

    if (search_staff_id != -1) {
        
        if (search_query != "") {
            search_query = search_query + "&";
        };

        search_query = search_query + "staff=" + search_staff_id;
        console.log(search_query);
    };

    if (search_query != "") {
        window.location.replace("{% url 'search' %}?" + search_query);
    } else {
        window.location.replace("{%url 'search'%}");
    }

}

// делает рандомные цвета в аватарках людям
function ChooseColor() {
    var color = [
        '#F29B34',
        '#A19C69',
        '#FF00AE',
        '#3C3741',
        '#D0FF00',
        '#25373D',
        '#EB9532',
        '#3AE2CE',
        '#60646D',
        '#00FFA9',
        '#FFDD00',
        '#B34EE9'];
    var rand = Math.floor(Math.random() * color.length);
    return color[rand];
};

var avatars = document.getElementsByClassName("user-info-avatar");
var names = document.getElementsByClassName("user-info-name");

for (var i = 0; i < avatars.length; i++) {
    avatars[i].style.background = ChooseColor();
    var name = names[i].textContent;
    var arrName = name.split(' ', 2)
    var letterName = arrName[0].substr(0, 1) + arrName[1].substr(0, 1);
    avatars[i].innerHTML = letterName;
}

function searchOnPage() {
    var search_query = document.getElementById("input_search_text").value
    console.log("searchOnPage is working! pattern for search: \"" + search_query + "\"");
    
    document.getElementById("input_search_text").value = "";

    window.location.replace("{% url 'search' %}?q=" + search_query);

    
}

function hideButtons() {
    document.getElementById("button_delete_contact").style.display = "none";
    document.getElementById("button_start_chatting").style.display = "none";
    document.getElementById("button_create_contact").style.display = "none";
    document.getElementById("button_decline_request").style.display = "none";
    document.getElementById("button_accept_request").style.display = "none";
    document.getElementById("button_cancel_request").style.display = "none";
};

function ProfileInfo(button) {
    // возвращаем все кнопки в дефолтный цвет
    var prof_b = document.getElementsByClassName("block_person");
    for(var i = 0; i < prof_b.length; i++) {
        prof_b[i].style.background = "#BDDFEF";
        prof_b[i].style.borderColor = "#2B6684";
        document.getElementsByClassName("user-info-name")[i].style.color = "#032E42";
        document.getElementsByClassName("user-status")[i].style.color = "#2B6684";
    }

    
    // изменяем цвет кнопки на которую нажали
    button.style.backgroundColor = "#012E67";
    button.style.borderColor = "#012E67";
    button.getElementsByClassName("user-info-name")[0].style.color = "#F3F7FB";
    button.getElementsByClassName("user-status")[0].style.color = "#F3F7FB";


    // изменяем информацию о профиле
    var person_id = button.id.slice(7);

    console.log(person_id);
    
    {% for person in users %}
        if ( {{person.id}} == person_id ) {

            // изменяем информацию в первом блоке
            document.getElementById("this-user-name").getElementsByTagName("span")[0].getElementsByTagName("strong")[0].textContent = "{{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}";
            
            var avatar = document.getElementById("this-user-avatar");
            avatar.style.background = button.getElementsByClassName("user-info-avatar")[0].style.background;

            var letterName = "{{person.last_name}}".substr(0, 1) + "{{person.first_name}}".substr(0, 1);
            avatar.innerHTML = letterName;

            // изменяем информацию во втором блоке
            document.getElementById("personal-data-email").textContent = "{{person.email}}";
            document.getElementById("personal-data-campus").textContent = "{{person.campus}}";
            document.getElementById("personal-data-staff").textContent = "{{person.staff}}";

            {% if person.department%}
                document.getElementById("personal-data-department").textContent = "{{person.department}}";
            {% else %}
                document.getElementById("title-data-department").style.display = "none";
                document.getElementById("personal-data-department").style.display = "none";
            {% endif %}

            {% if person.group %}
                document.getElementById("personal-data-group").textContent = "{{person.group}}";
            {% else %}
                document.getElementById("title-data-group").style.display = "none";
                document.getElementById("personal-data-group").style.display = "none";
            {% endif %}
        }
    {% endfor %}

    hideButtons();
    
    // определяем статус отношений между владельцем пользователя и выбранным пользователем
    var statusRelationship = -1;
    $.ajax({
        method: "POST",
        url: "/contact/define_relationship_with_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            statusRelationship = data.relationship;
            console.log(statusRelationship);
            if (statusRelationship == 0) {
                document.getElementById("button_delete_contact").value = person_id;
                document.getElementById("button_start_chatting").value = person_id;

                document.getElementById("button_delete_contact").style.display = "block";
                document.getElementById("button_start_chatting").style.display = "block";

                document.getElementsByClassName("button-contact-list")[0].style.marginLeft = "160px";
            };

            if (statusRelationship == 1) {
                document.getElementById("button_create_contact").value = person_id;

                document.getElementById("button_create_contact").style.display = "block";

                document.getElementsByClassName("button-contact-list")[0].style.marginLeft = "125px";
            };

            if (statusRelationship == 2) {
                document.getElementById("button_decline_request").value = person_id;
                document.getElementById("button_accept_request").value = person_id;

                document.getElementById("button_decline_request").style.display = "block";
                document.getElementById("button_accept_request").style.display = "block";

                document.getElementsByClassName("button-contact-list")[0].style.marginLeft = "160px";
            };

            if (statusRelationship == 3) {
                document.getElementById("button_cancel_request").value = person_id;

                document.getElementById("button_cancel_request").style.display = "block";

                document.getElementsByClassName("button-contact-list")[0].style.marginLeft = "125px";
            };
        }
    });

    // скрываем подпись о выборе контакта
    var info = document.getElementsByClassName("block_info_choose");
    info[0].style.display = "none";

    // показываем два блока
    var profile = document.getElementsByClassName("this-user-info");
    profile[0].style.display = "block";
    var height = profile[0].offsetHeight;
    profile[0].style.top = "calc(50vh - " + height + "px/2 - 20px)";
}



function deleteContact(person_id) {
    hideButtons();

    console.log("deleteContact is working! person_id= " + person_id);

    $.ajax({
        method: "POST",
        url: "/contact/delete_contact_with_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            console.log("User declines the request from person_"+ person_id + ": " + data.success);
        }
    });

    document.getElementById("button_create_contact").style.display = "block";
    document.getElementById("button_create_contact").value = person_id;

};

function createContact(person_id) {
    hideButtons();

    console.log("createContact is working! person_id= " + person_id);

    $.ajax({
        method: "POST",
        url: "/contact/create_contact_with_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            console.log("Server create a contact with person_"+ person_id + ": " + data.success);
        }
    });

    document.getElementById("button_cancel_request").style.display = "block";
    document.getElementById("button_cancel_request").value = person_id;
};

function declineRequest(person_id) {
    hideButtons();

    console.log("declineRequest is working! person_id= " + person_id);

    $.ajax({
        method: "POST",
        url: "/contact/decline_request_from_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            console.log("User declines the request from person_"+ person_id + ": " + data.success);
        }
    });

    document.getElementById("button_create_contact").style.display = "block";
    document.getElementById("button_create_contact").value = person_id;
};

function acceptRequest(person_id) {
    hideButtons();

    console.log("acceptRequest is working! person_id= " + person_id);

    $.ajax({
        method: "POST",
        url: "/contact/accept_request_from_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            console.log("User accepts the request from person_"+ person_id + ": " + data.success);
        }
    });

    document.getElementById("button_delete_contact").style.display = "block";
    document.getElementById("button_delete_contact").value = person_id;

    document.getElementById("button_start_chatting").style.display = "block";
};

function cancelRequest(person_id) {
    hideButtons();

    console.log("cancelRequest is working! person_id= " + person_id);

    $.ajax({
        method: "POST",
        url: "/contact/cancel_request_to_user/" + person_id,
        dataType: "json",
        async: false,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
            console.log("User cancels the request to person_"+ person_id + ": " + data.success);
        }
    });

    document.getElementById("button_create_contact").style.display = "block";
    document.getElementById("button_create_contact").value = person_id;
};


</script>
{% endblock %}
