{% extends "website/base3.html" %}
{% load static %}
{% block title %}Search people{% endblock %}

{% block additional_media3 %}
        <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}" />
{% endblock %}

{% block title_main %}Контакты{% endblock %}
{% block person_contact_list %}
<!--
        {% for friend in friends %}

            <button class="block_person" id="person_{{ friend.id }}" onclick="ProfileInfo(this)">

                <div class="user-info-avatar" id="avatar" ></div>
                <div class="user-info-name" id="name"><span>{{friend.last_name}} {{friend.first_name}} {{friend.middle_name}}</span></div>

                <div class="user-status">
                    <p><strong>Должность: </strong>{{friend.staff}}</p>
                </div>
            </button>
        {% endfor %}
-->
{% endblock %}


{% block button_contact_list %}
    <!-- кнопка "Удалить из контактов" -->
                    <button  class="button" type="submit" id="b-start" title="Добавить в контакты">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>               
    <!-- кнопка "Начать диалог" -->
                    <button  class="button" type="submit" id="b-start" title="Начать диалог">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button>
{% endblock %}
{% block personal_data %}
    <h3>Email</h3>
        <p id="personal-data-email"></p>
    <h3>Кампус</h3>
        <p id="personal-data-campus"></p>

    <h3>Должность</h3>
        <p id="personal-data-staff"></p>

    <h3>Факультет</h3>
        <p id="personal-data-department"></p>

    <h3>Группа</h3>
        <p id="personal-data-group"></p>
{% endblock %}
{% block block_info_choose %}Выберите контакт, чтобы увидеть персональные данные{% endblock %}
{% block script %}
<script>
        // делает рандомные цвета в аватарках людям
        function ChooseColor() {
            var color = [
                '#F29B34',
                '#A19C69',
                '#FF00AE',
                '#3C3741',
                '#D0FF00',
                '#25373D',
                '#EB9532',
                '#3AE2CE',
                '#60646D',
                '#00FFA9',
                '#FFDD00',
                '#B34EE9'];
            var rand = Math.floor(Math.random() * color.length);
            return color[rand];
        };

        var avatars = document.getElementsByClassName("user-info-avatar");
        var names = document.getElementsByClassName("user-info-name");
        for (var i = 0; i < avatars.length; i++) {
            
            avatars[i].style.background = ChooseColor();
            var name = names[i].textContent;
            var arrName = name.split(' ', 2)
            var letterName = arrName[0].substr(0, 1) + arrName[1].substr(0, 1);
            avatars[i].innerHTML = letterName;
        }
        
        
        function ProfileInfo(button) {
            // возвращаем все кнопки в дефоолтный цвет
            var prof_b = document.getElementsByClassName("block_person");
            for(var i = 0; i < prof_b.length; i++) {
                prof_b[i].style.background = "#BDDFEF";

                document.getElementsByClassName("user-info-name")[i].style.color = "#032E42";
                document.getElementsByClassName("user-status")[i].style.color = "#2B6684";
            }

            
            // изменяем цвет кнопки на которую нажали
            button.style.backgroundColor = "#012E67";
            button.getElementsByClassName("user-info-name")[0].style.color = "#F3F7FB";
            button.getElementsByClassName("user-status")[0].style.color = "#F3F7FB";


            // изменяем информацию о профиле
            var person_id = button.id.slice(7);
            
//            {% for friend in friends %}
//                if ( {{friend.id}} == person_id ) {
//
//                    // изменяем информацию в первом блоке
//                    document.getElementById("this-user-name").getElementsByTagName("span")[0].getElementsByTagName("strong")[0].textContent = "{{ friend.last_name }} {{ friend.first_name }} {{ friend.middle_name }}";
//                    
//                    var avatar = document.getElementById("this-user-avatar");
//                    avatar.style.background = button.getElementsByClassName("user-info-avatar")[0].style.background;
//
//                    var letterName = "{{friend.last_name}}".substr(0, 1) + "{{friend.first_name}}".substr(0, 1);
//                    avatar.innerHTML = letterName;
//
//                    // изменяем информацию во втором блоке
//                    document.getElementById("personal-data-email").textContent = "{{friend.email}}";
//                    document.getElementById("personal-data-campus").textContent = "{{friend.campus}}";
//                    document.getElementById("personal-data-staff").textContent = "{{friend.staff}}";
//                    document.getElementById("personal-data-department").textContent = "{{friend.department}}";
//                    document.getElementById("personal-data-group").textContent = "{{friend.group}}";
//                }
//            {% endfor %}

            // скрываем подпись о выборе контакта
            var info = document.getElementsByClassName("block_info_choose");
            info[0].style.display = "none";

            // показываем два блока
            var profile = document.getElementsByClassName("this-user-info");
            profile[0].style.display = "block";
            var height = profile[0].offsetHeight;
            profile[0].style.top = "calc(50vh - " + height + "px/2 - 20px)";
              
        }

    </script>
{% endblock %}
