{% extends "website/base2.html" %}
{% load static %}
{% block title %}Messenger{% endblock %}

{% block additional_media3 %}
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{% static 'chat/jquery.nicescroll.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/messenger.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title_main %}Мессенджер{% endblock %}
{% block block_info_choose %}Выберите чат, чтобы начать общение{% endblock %}

{% block person_contact_list %}
{% for room in rooms_info %}
    <button class="block_person" id="room_{{room.room_id}}" onclick="OnSelectedRoom(this)">
        <div class="user-info-avatar" id="avatar" ></div>
        <div class="user-info-name" id="name"><span>{{room.user.last_name}} {{room.user.first_name}}</span></div>
        <div class="chat-time" id="time"><span>{{room.message_time}}</span></div>
        <div class="user-chat" id="chat">
            <p>{{room.message}}</p>
        </div>
    </button>
{% endfor %}

{% endblock %}

{% block right %}
<div class="info_user_chat">
    <div class="user-info-avatar" id="user-avatar-chat" ></div>
    <div class="user-info-name" id="user-chat-name"><span></span></div>

    <div class="messages" id="mesages-log"></div>
    <div id="load">
        <i class="fa fa-spinner fa-spin"></i>Loading
    </div>
    <div class="enter_message">
        <button class="button emoji">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </button>
        <input class="enter_" type="text" id= "input_message" placeholder="Напишите сообщение...">
        <button class="button enter_message_" id="enter_message_button" onclick="sendMessage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </button>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

$(document).ready(
    function () {
        $(".block_persons").niceScroll({
            cursorcolor: "#012E67",
            cursorborder: "0 solid #012E67"
        });
    }
   
)

var load = $("#load");

var messagesContainer = $('.messages');
var messageBody = document.querySelector('.messages');
var prevScrollH = messageBody.scrollHeight;


messagesContainer.scrollTop(prevScrollH).on('scroll', function(e){
    var $that = $(this);
    
    if($that.scrollTop() <= 0){
        load.show();

        var first_message_id = document.getElementsByClassName("message_container")[0].id;
        getOldMessages(from_message_id=first_message_id);
    }
});
</script>

<script>

var chatSocket = null;
var roomId = null;

var firstMessages = false;

function closeWebSocket(){
    if(chatSocket != null){
        chatSocket.close()
        chatSocket = null

        DeleteMessage();
    }

    firstMessages = true;
    console.log('closeWebSocket done!')
}

function SetupSocket(room_id){

    // закрываем старый сокет
    closeWebSocket();

    console.log("SetupSocket: " + room_id);

    roomId = room_id;

    var wsPath = 'ws://' + window.location.host + '/ws/chat/' + room_id + '/';
    chatSocket = new WebSocket(wsPath);


    // обработчик входящих команд от сервера
    chatSocket.onmessage = function(e) {
        console.log(e);
        const data = JSON.parse(e.data);

        if (data.join){
            getOldMessages();
        }

        if (data.send) {
            addMessageBlock(data.message, data.message_id, data.sender_id, append=true);
        }

        if (data.get_old_messages) {
            handleGetOldMessages(data.messages);
        }
    };

    chatSocket.addEventListener("open", function(e) {
        console.log("ChatSocket OPEN")
        chatSocket.send(JSON.stringify({
            "command": "join",
            "room": roomId
        }));
    });

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    if (chatSocket.readyState == WebSocket.OPEN) {
        console.log("ChatSocket OPEN")
    } else if (chatSocket.readyState == WebSocket.CONNECTING){
        console.log("ChatSocket connecting..")
    }
};

// отправляем сообщение на сервер
function sendMessage(){
    var messageInputDom = document.getElementById("input_message");
    var message = messageInputDom.value;

    chatSocket.send(JSON.stringify({
       "command": "send",
       "message": message,
       "room_id": roomId,
    }));

    messageInputDom.value = "";
};


// запрашиваем старые сообщения с сервера
function getOldMessages(from_message_id=null) {
    prevScrollH = messageBody.scrollHeight;

    if (from_message_id){
        chatSocket.send(JSON.stringify({
            "command": "get_old_messages",
            "from_message_id": from_message_id,
            "room_id": roomId
        }));
    } else {
        chatSocket.send(JSON.stringify({
            "command": "get_old_messages",
            "room_id": roomId
        }));
    }
};


// обрабатываем старые сообщения, пришедшие с сервера
function handleGetOldMessages(messages){
    if(messages != null && messages != "undefined" && messages != "None"){
        messages.forEach(function(message){
            console.log(message)

            addMessageBlock(message.message, message.message_id, message.sender_id, append=false);

        })

        messageBody.scrollTop = messageBody.scrollHeight - prevScrollH;
        prevScrollH = messageBody.scrollHeight;

        if (firstMessages){
            messageBody.scrollTop = messageBody.scrollHeight;
            firstMessages = false;
        }
    } else{
        alert("Больше нет сообщений.");
    }
    load.hide();
}

var input = document.getElementsByClassName("enter_")[0];
input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementsByClassName("button enter_message_")[0].click();
    }
});

function addMessageBlock(message, message_id, sender_id, append=true){ // , time
    var position = ""

    if (sender_id == "{{request.user.id}}") {
        position = "I";
    } else {
        position = "you";
    }

    var newContainer = document.createElement("div");
    newContainer.classList.add("message_container");
    newContainer.id = message_id;
    var newMessage = document.createElement("div");
    newMessage.classList.add("message");
    newMessage.classList.add(position);
    newMessage.textContent = message;
    newContainer.appendChild(newMessage);

    if (append){
        document.getElementsByClassName("messages")[0].append(newContainer);
        messageBody.scrollTop = messageBody.scrollHeight;
    } else{
        document.getElementsByClassName("messages")[0].prepend(newContainer);

    }
}


function DeleteMessage() {
    document.getElementById("mesages-log").innerHTML = "";
}


var but = document.getElementsByClassName("block_person");
but[but.length - 1].style.marginBottom = "20px";


// делает рандомные цвета в аватарках людям
function ChooseColor() {
    var color = [
        '#F29B34',
        '#A19C69',
        '#FF00AE',
        '#3C3741',
        '#D0FF00',
        '#25373D',
        '#EB9532',
        '#3AE2CE',
        '#60646D',
        '#00FFA9',
        '#FFDD00',
        '#B34EE9'];
    var rand = Math.floor(Math.random() * color.length);
    return color[rand];
};

var avatars = document.getElementsByClassName("user-info-avatar");
var names = document.getElementsByClassName("user-info-name");
for (var i = 0; i < avatars.length; i++) {
    
    avatars[i].style.background = ChooseColor();
    var name = names[i].textContent;
    var arrName = name.split(' ', 2)
    var letterName = arrName[0].substr(0, 1) + arrName[1].substr(0, 1);
    avatars[i].innerHTML = letterName;
}


function OnSelectedRoom(button) {
    // возвращаем все кнопки в дефолтный цвет
    var prof_b = document.getElementsByClassName("block_person");
    for(var i = 0; i < prof_b.length; i++) {
        prof_b[i].style.background = "#BDDFEF";
        prof_b[i].style.borderColor = "#2B6684";
        document.getElementsByClassName("user-info-name")[i].style.color = "#032E42";
        document.getElementsByClassName("user-chat")[i].style.color = "#2B6684";
        document.getElementsByClassName("chat-time")[i].style.color = "#2B6684";
        // prof_b[i].style.borderColor = "#2B6684";
    }
    
    // изменяем цвет кнопки на которую нажали
    button.style.backgroundColor = "#012E67";
    button.style.borderColor = "#012E67";

    button.getElementsByClassName("user-info-name")[0].style.color = "#F3F7FB";
    button.getElementsByClassName("user-chat")[0].style.color = "#F3F7FB";
    button.getElementsByClassName("chat-time")[0].style.color = "#F3F7FB";
   

    // берем room_id
    var room_id = button.id.slice(5);

    {% for room in rooms_info %}

        if ( {{room.room_id}} == room_id ) {
            document.getElementById("user-chat-name").getElementsByTagName("span")[0].innerHTML = "<a href=\"{% url 'account_view' %}{{room.user.id}}\">{{ room.user.last_name }} {{ room.user.first_name }} {{room.user.middle_name }}";

            var avatar = document.getElementById("user-avatar-chat");
            avatar.style.background = button.getElementsByClassName("user-info-avatar")[0].style.background;

            var letterName = "{{ room.user.last_name }}".substr(0, 1) + "{{ room.user.first_name }}".substr(0, 1);
            avatar.innerHTML = letterName;
        }
    {% endfor %}

    // скрываем подпись о выборе диалога
    var info = document.getElementsByClassName("block_info_choose");
    info[0].style.display = "none";

    SetupSocket(room_id);

    // показываем три блока
    document.getElementsByClassName("enter_message")[0].style.display = "block";
    document.getElementsByClassName("info_user_chat")[0].style.display = "block";
    document.getElementsByClassName("messages")[0].style.display = "block";

    messageBody.scrollTop = messageBody.scrollHeight;
};

</script>
{% endblock %}
