<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form onsubmit="return executeQuery();">
    <input type="text" name="q">
<!--    <button type="submit"> </button>-->
</form>

<script type="text/javascript">
	function executeQuery() {
		var query = ""
		query = document.getElementById('id_q_small').value;
		if (query == ""){
			query = document.getElementById('id_q_large').value;
		}
<!--		                 {% url 'search_results'%}-->
	    window.location.replace("/search?q=" + query)
	    return false
	}
</script>
</body>
</html>